.quick-actions > button, .recent-transaction, .customization-buttons > button{
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
}
.account-balance-table td, .account-balance-table th{
    padding: 1rem;
}
main{
    grid-template-columns: repeat(4 , max-content);
    justify-content: center;
    align-content: top;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
}
.quick-actions{
    background-color: white;
    border-radius: 5px;
    padding: 1rem;

    margin-left: 2rem;
    max-width: 300px;
}

.quick-actions > button, .customization-buttons > button{
    grid-template-columns: max-content auto;
    grid-template-rows: auto;
    column-gap: 2rem;
    align-items: center;

    border: none;
    background-color: transparent;
    padding: 1rem;
    font-weight: 500;
}

.quick-actions > button:hover, .customization-buttons > button:hover{
    cursor: pointer;
}

.recent-transactions-title{
    margin-top: 3rem;
}
.recent-transactions{
    max-width: 500px;
    margin-left: 2rem;
    background-color: white;

    border-radius: 5px;
    padding: 1rem;

    max-height: 300px;
    overflow: auto;
}

.recent-transaction{
    grid-template-columns: auto 100px;
    grid-template-rows: auto auto;
    padding: 1rem;
}

.recent-transaction > div:first-of-type{
    border-right: 1px solid rgb(210, 210, 210);
    padding-right: 1rem;
}
.recent-transaction > div:first-of-type > p:first-of-type{
    font-weight: 600;
    margin-bottom: 1rem;
}
.recent-transaction > div:last-of-type{
    padding-left: 1rem;
}
.recent-transaction > div:last-of-type > p{
    font-weight: 600;
}

.recent-transaction > div:last-of-type .credit{
    color: red;
}

.recent-transaction > div:last-of-type .debit{
    color: #28a745;
}