.popup{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(180, 180, 180, 0.719);
    overflow: auto;
    display: block;
    z-index:10;
    /* visibility:visible;
    transition: visibility 0.5s linear z-index 0.5 linear;
    border: 4px solid black; */
}
.popup > div:first-of-type{
    margin: 2rem auto;
    text-align: right;
    padding:1rem 2rem;
}
.popup > div:first-of-type span:hover{
    cursor: pointer;
}
.popup-close{
    font-size: 2rem;
    font-weight:600;
}
.popup > div{
    width: max-content;
    background-color: white;
    border-radius: 0.5rem;
}